@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h2>Profil actuel : <a href="#"><strong>Radis</strong></a></h2>
</div>

<div class="row text-center">
    <div class="col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        Temperature mesurée :
                    </div>
                    <div class="col-md-6">
                        Temperature cible :
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="huge">0°</div>
                    </div>
                    <div class="col-md-6">
                        <div class="huge">0°</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        Humidité mesurée :
                    </div>
                    <div class="col-md-6">
                        Humidité cible :
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="huge">0%</div>
                    </div>
                    <div class="col-md-6">
                        <div class="huge">0%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                Lumière mesurée :
            </div>
            <div class="panel-body">
                  <div class="huge">0 lm</div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                Vent mesuré :
            </div>
            <div class="panel-body">
                  <div class="huge">0 km/h</div>
            </div>
        </div>
    </div>
</div>