@model List<Profil>
@{
    ViewBag.Title = "ListeProfil";
}

<h2>ListeProfil</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Profil p in @Model)
        {
            <tr>
                <th>@p.Nom</th>
                <th>
                    <button class="btn btn-warning btn-xs">Modifier</button>
                    <button class="btn btn-danger btn-xs">Supprimer</button>
                </th>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-success">Ajouter</button>